header {
    display:flex;
    justify-content: space-between;
}

.logoimg {
    width:100px;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li {
    margin:0 50px;
}

header a {
    text-decoration: none;
    font-size:2em;
    font-weight: 700;
    color:black;
}

header ul li a img {
    width:50px;
    border-radius: 50%;
}