/*-----------------
Css pour le header
-----------------*/
header {
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
}
.logo{
    width:33px;
}
header a {
    text-decoration: none;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size:1.25em;
    font-weight: 500;
    color:#FF8900;
}
.menu, .account-circle{
    display: none;
}
.header-container{
    align-items: center;
}
.logo{
    margin: 10px 0;
}
.header-container ul li{
    align-items: center;
    margin: 0 15px;
}
/*-----------------
media querie pour les ecrans de tablette et portable
-----------------*/

@media screen and (max-width: 730px) {
    .header-container{
        align-items: center;
    }
    .header-right-item{
        display: none;
    }
    .menu{
        display: flex;
    }
    .logo{
        margin: 13px 0;
    }
    .account-circle{
        display: flex;
    }
}