/*-----------------
Class css globales
-----------------*/
.display-flex{
    display: flex;
}
.mobile-padding{
    padding: 0 36px;
}
.flex-direction-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
h2{
    font-size: 1.5rem;
    text-transform: uppercase;
}
h3{
    font-size: 1.25rem;
}
.margin-destock{
    margin: 0 140px;
}
.globale-margin{
    margin: 15px 30px;
}
.globale-padding{
    padding: 15px 30px;
}
.divider{
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
}
body{
    background-color: #fafafa;
    height: 100vh;
}
/*
Class news
*/

.news-container{
    height: 65vh;
    background-color: red;
}

.left-news{
    width: 70%;
    background-color: blue;
}

.right-news-container{
    width: 30%;
}

.right-news{
    height: 50%;
    width: 100%;
    background-color: gold;
}

.right-news1{
    height: 50%;
    width: 100%;
    background-color: blueviolet;
}


/*
Class About
 */

.about{
    height: 35vh;
    justify-content: space-evenly;
    background-color: aquamarine;
}

.about-container{
    text-align: center;
}

.img-about{
    width: 125px;
    height: 125px;
    border-radius: 300px;
    object-fit: cover;
    background-color: #ff0000;
}

/*
Class teams
 */

.team{
    height: 100vh;
    background-color: chartreuse;
    justify-content: space-between;
}

.team-container{
    height: 90%;
}

.team-item{
    height: calc(100% / 3);
    width: 100vw;
    justify-content: space-between;
}

.team-item-left{
    background-color: hotpink;
    width: 30%;
}
.team-item-right{
    background-color: teal;
    width: 30%;
}

.team-img-left{
    background-color: indigo;
}

/*-----------------
Class css articles
-----------------*/

.article-block{
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.article-container{
    width: 49.5%;
}
.article-container p{
    font-family: Raleway;
}
.header-article{
    justify-content: space-between;
}

.header-article h2{
    font-family: Montserrat;
    color: #FF8900;
    font-weight: 600;
    text-transform: uppercase;
}
.author-article{
    align-items: flex-end;
}
.author-article h4{
    margin-left: 6px;
}
.article-title{
    font-family: Raleway;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}
.article-author{
    font-family: Montserrat;
    font-weight: 300;
    font-size: .85rem;
}
.article-container p{
    margin: 0 30px;
    margin-bottom: 8px;
}

@media screen and (max-width: 840px){
    .article-block{
        flex-direction: column;
        margin: 0px 0px;
    }
    .article-container{
        width: 100%;
    }
    .author-article{
        align-items: flex-start;
        flex-direction: column;
    }
    .author-article h4{
        margin-left: 0px;
    }
    .author-article h3{
        margin-bottom: 3px;
    }
    .more{
        font-family: Montserrat;
        text-decoration: none;
        font-size: .85rem;
        font-weight: 600;
        color: #FF8900;
        margin: 0 0 8px 30px;
    }
}



* {
    box-sizing: border-box;
}

/*********** CSS OF THE BACKOFFICE ***********/
/*********** CSS OF THE BACKOFFICE ***********/

.main-backoffice {
    display:flex;
    flex-direction: column;
    margin:auto;
}

.profilpic {
    width:50px;
    border-radius: 50%;
    margin:auto;
}

.main-backoffice {
    display:flex;
    margin:0;
    box-sizing: border-box;
}

.container {
    margin:0 auto;
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    width:80%;
}


.infouser {
    display: flex;
    justify-content: space-between;
    margin:15px;
}

.infouser a {
    text-decoration: none;
    font-size:1.2em;
    font-weight: 700;
    margin-right:20px;
}

.infoperso {
    display: flex;
    justify-content: space-around;
}

.infoperso div {
    display: flex;
    flex-direction: column;
}

.infoperso + div {
    display: flex;
    justify-content: space-around;
}

.team-members {
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    margin: auto;
}

.team-members i {
    border:1px solid black;
    border-radius: 100%;
    padding:10px;
    font-size:1.5em;
}

.list-user-pic {
    width:30%;
    align-self: center;
    text-align: center;
}

.list-user-div {
    display:flex;
    border:1px solid black;
}

.iconprofilpic {
    width:70%;
}

.user-info {
    display:flex;
    justify-content: space-between;
}

.favcharacter img {
    width:40px;
}

.edit-delete {
    align-self: center;
    margin:20px;
}

.edit-delete i {
    margin:10px;
}

.post-container {
    width:80%;
    margin:auto;
    border:1px solid black;
}

.post h2 {
    margin-left:30px;
}

.post {
    display:flex;
    justify-content: space-between;
    border:1px solid black;
}

.post-title {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.post-date {
    align-items: center;
}

.post-edit-delete {
    align-self: center;
    width:30%;
}

.post-edit-delete i {
    font-size:2.5em;
    margin:0 35px;
}


/*********** CSS OF THE TEAM PAGE ***********/
/*********** CSS OF THE TEAM PAGE ***********/

.main-team {
    display:flex;
    flex-direction: column;
    width:100%;
    margin:auto;
}

.main-team h1 {
    text-align: center;
}

.container-team {
    width:80%;
    margin:30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.member {

    display:flex;
    border:1px solid black;
    align-items: center;
}

.member div:first-child {
    width:35%;
}

.team-profilpic {
    width:50px;
    border-radius: 50%;
    margin:10px;
}

.team-iconperso {
    width:35px;
}

.team-favcharac {
    display:flex;
    justify-content: space-around;
    margin:10px;
}

/*********** CSS OF THE CHARATERS ***********/
/*********** CSS OF THE CHARATERS ***********/

.main-characters-mobile {
    background: url("../img/bg.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    padding-bottom: 0;
}

.liste-charac-mobile {
    margin:auto;
    text-align: center;
}

.selectCharacter{
    border-radius: 6px;
    border: none;
    height: 44px;
    padding: 0 15px;
    font-family: "Arial Black";
    text-transform: uppercase;
    color: #464B60;
    box-shadow: 0px 0px 5px rgba(0,0,0, .3);
}

.characters-content{
    height: calc(100vh - 62.06px);
    justify-content: space-between;
}


.h2-character {
    text-transform: uppercase;
    font-family: "Arial Black";
    width: fit-content;
    padding: 5px 18px;
    background-color: #FF8900;
    color:white;
    font-size:1.8em;
    z-index: 100;
    align-self: center;
}

.p-character {
    align-self: flex-end;
    background-color:rgba( 0,0,0, 0.3);
    color:white;
    font-size:0.85em;
    padding: 20px;
    font-family: 'raleway';
}

.liste-skills {
    background-color:rgba(19,42,77, 1);
    text-align: center;
}

.liste-skills img{
    margin: auto;
}

.liste-skills select {
    width:80%;
    margin:auto;
    background-color:rgba(19,42,77,.85);
    border:none;
    color:white;
    height:40px;
}
.div-skill{
    position: relative;
    z-index: 1;
}
.div-skill video {
    width:100%;
    position: absolute;
    z-index: 2;
}
.img-character{
    z-index: 1;
}
.p-skill {
    background-color:rgba( 0,0,0, 0.3);
    color: white;
    text-align: center;
    font-size:0.75em;
    font-family: 'raleway';
    position: absolute;
    z-index: 3;
}
.skillIcon{
    max-height: 25px;
}
.character-info{
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    height: 100%;
    justify-content: center;
}
@media screen and (min-width: 1024px) {

    /*********** CSS OF THE BACKOFFICE ***********/
    /*********** CSS OF THE BACKOFFICE ***********/
    .main-backoffice {
        flex-direction: row;
    }
    .container {
        display:block;
    }

    /*********** CSS OF THE TEAM ***********/
    /*********** CSS OF THE TEAM ***********/

    .container-team {
        flex-direction:row;
        justify-content: center;
    }

    .member {
        width:50%;
    }


    /*********** CSS OF THE CHARACTERS ***********/
    /*********** CSS OF THE CHARACTERS ***********/

    .main-characters-desktop {
        background: url("src/bg-characters") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display:block;
    }

    .div-liste-charac {
        text-align: center;
    }

    .icon-list-charac {
        width:7%;
        margin:10px;
        border-radius: 100%;
    }

    .div-characters {
        width:100%;
        margin:30px auto;
        display:flex;
        justify-content: space-around;
    }

    .img-character {
        width:80%;
        position:relative;
        margin:35px;
    }

    .h2-character-2 {
        position: absolute;
        bottom: 30%;
        left: 15%;
        font-size:3em;
    }

    .p-character-2 {
        position: absolute;
        top: 65%;
        left: 15%;
        font-size:1.5em;
        width:20%;
    }

    .div-img-charac {
        align-self: center;
    }

    .div-skills-list {
        width:70%;
    }

    .div-skills-list table tr td select {
        height:60px;
        width:100%;
        margin: auto;
        background-color: rgba(19,42,77,.85);
        border: none;
        color: white;
    }

    .div-skills-list table tr td select option {
        height:60px;
    }

    .div-skills-list video {
        width:100%;

    }

}