/*-----------------
Class css globales
-----------------*/
.display-flex{
    display: flex;
}
.mobile-padding{
    padding: 0 36px;
}
.flex-direction-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 1.5rem;

}
h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 1.25rem;

}
h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 1rem;

}
.margin-destock{
    margin: 0 140px;
}
.globale-margin{
    margin: 15px 30px;
}
.globale-padding{
    padding: 15px 30px;
}
.divider{
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
}
body{
    background-color: #fafafa;
    height: 100vh;
}
.desktop-margin{
    margin: 33px 7%;
}
.button{
    cursor: pointer;
    justify-self: center;
    align-self: center;
    border: #FF8900 1px solid;
    border-radius: 5px;
    padding: 9px 16px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF8900;
}
:hover.button{
    background-color: rgba(255, 137, 0, 0.05);
}
.circulare-button{
    cursor: pointer;
    border: #FF8900 1px solid;
    border-radius: 25px;
    padding: 3px 3px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    color: #FF8900;
}
:hover.circulare-button{
    background-color: rgba(255, 137, 0, 0.05);
}
.HEAL{
    font-family: Montserrat;
    color: white;
    font-weight: 700;
    padding: 6px 10px;
    background-image: url("");
    background: #10CB50;
    width: fit-content;
    white-space: normal;
    overflow: visible;
    height: fit-content;
}
.TANK{
    font-family: Montserrat;
    color: white;
    font-weight: 700;
    padding: 6px 10px;
    background-image: url("");
    background: #cb6110;
    width: fit-content;
    white-space: normal;
    overflow: visible;
    height: fit-content;
}
.DPS{
    font-family: Montserrat;
    color: white;
    font-weight: 700;
    padding: 6px 10px;
    background-image: url("");
    background: #bb0b2e;
    width: fit-content;
    white-space: normal;
    overflow: visible;
    height: fit-content;
}
p{
    font-family: Raleway;
}
.more{
    font-family: Montserrat;
    text-decoration: none;
    font-size: 1rem;
    padding-top: 10px;
    font-weight: 600;
    color: #FF8900;
}
.circulare-button img{
    width: 17px;
    margin: auto;
}
.align-items-flex-end{
    align-items: flex-end;
    margin-right: 10px;
    margin-left: 0px;
}
.align-items-center{
    align-items: center;
}
.justify-content-flex-end{
    justify-content: flex-end;
}
dialog{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    border: none;
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    padding: 25px;
    width: fit-content;
    height: fit-content;
}
form input {
    height: 43px;
    border-radius: 4px;
    border: 1px #C5C5C5 solid;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    width: 550px;
    margin-bottom: 20px;
}
form textarea {
    height: 250px;
    border-radius: 4px;
    border: 1px #C5C5C5 solid;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.dialog-button {
    border-radius: 4px;
    border: 1px #C5C5C5 solid;
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    margin: 0;
    margin-left: 7px;
    margin-right: 7px;
}
.container-dialog-button{
    display: flex;
    justify-content: center;
    width: 100%;
}
.radio-dialog{
    width: fit-content;
    font-family: Raleway;
    justify-content: center;
    width: 100%;
}
.radio-dialog input{
    height: initial;
    width: initial;
}
/*
class home
 */
.team-mate-info-right{
    margin-right: 10px;
}
.team-mate-info-right h3{
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-size: 22px;
}
.container-team-class{
    width: 100%;
}
.news-articles{
    font-family: Raleway;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    font-size: 1.25rem;
    margin-left: 40px;
}
.content-news-articles{
    background-color: rgba(0,0,0, .5);
    margin-top: 5px;
    padding: 0px 40px 20px 40px;
    color: white;
    width: 65%;
    height: fit-content;
}
.content-news-articles-right{
    background-color: rgba(0,0,0, .5);
    margin-top: 5px;
    padding: 0px 40px 20px 40px;
    color: white;
    width: 90%;
    height: fit-content;
}
.content-news-articles p, .content-news-articles-right p{
    padding-top: 20px;
    padding-bottom: 10px;
}
.left-news-article{
    font-size: .85em;
}
.line{
    height: 6px;
    width: 103px;
    background-color: #FF8900;
}

.news-container{
    height: 65vh;
    background-color: red;
}

.left-news{
    width: 65%;
    background: #000000 url("/public/img/new-home.jpeg");
    background-size: cover;
    justify-content: flex-end;
    padding-left: 100px;
    padding-bottom: 50px;
}
.right-news-container{
    width: 35%;
}
.team{
    text-transform: uppercase;
    font-weight: 600;
}

.right-news{
    height: 50%;
    width: 100%;
    background: #000000 url("/public/img/new-home.jpeg");
    justify-content: flex-end;
    padding-left: 40px;
    padding-bottom: 20px;
}

.right-news1{
    height: 50%;
    width: 100%;
    background: #000000 url("/public/img/new-home.jpeg");
    justify-content: flex-end;
    padding-left: 40px;
    padding-bottom: 20px;
}
.aboutt{
    flex-direction: row;
}
@media screen and (max-width: 830px){
    .news-container{
        flex-direction: column;
        height: fit-content;
    }
    .left-news{
        width: 100%;
        padding: 0 0 10px 10px;
        font-size: .75rem;
        height: 250px;
    }
    .content-news-articles{
        width: 90%;
    }
    .right-news, .right-news1, .container-team-class h2{
        display: none;
    }
    .aboutt{
        flex-direction: column;
    }
    .container-team-class{
        flex-direction: column;
    }
}

/*
Class About
 */

.about{
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.01);
}

.about-container{
    text-align: center;
}
.about-container img{
    margin-top: 25px;
    box-shadow: 0 3px 10px rgba(0,0,0, .2);
}
.about-container p {
    width: 90%;
    margin-bottom: 25px;
}
.about-container h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-about{
    width: 125px;
    height: 125px;
    border-radius: 300px;
    object-fit: cover;
    background-color: #ff0000;
}

/*
Class teams
 */
.main-team{
    flex-wrap: wrap;
    background-color: white;
    margin-top: 0;
    flex-direction: row;
}
.team-mate{
    width: 50%;
}

@media screen and (max-width: 840px){
    .main-team{
        flex-direction: column;
        margin: 0;
    }
    .team-mate{
        width: 100%;
    }
}

/*-----------------
Class css articles
-----------------*/

.article-block{
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.article-container{
    width: 49.5%;
}
.article-container p{
    font-family: Raleway;
}
.header-article{
    justify-content: space-between;
}

.header-article h2{
    font-family: Montserrat;
    color: #FF8900;
    font-weight: 600;
    text-transform: uppercase;
}
.author-article{
    align-items: flex-end;
}
.author-article h4{
    margin-left: 6px;
}
.article-title{
    font-family: Raleway;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}
.article-author{
    font-family: Montserrat;
    font-weight: 300;
    font-size: .85rem;
}
.article-container p{
    margin: 0 30px;
    margin-bottom: 8px;
}

@media screen and (max-width: 840px){
    .article-block{
        flex-direction: column;
        margin: 0px 0px;
    }
    .article-container{
        width: 100%;
    }
    .author-article{
        align-items: flex-start;
        flex-direction: column;
    }
    .author-article h4{
        margin-left: 0px;
    }
    .author-article h3{
        margin-bottom: 3px;
    }
    .more{
        font-family: Montserrat;
        text-decoration: none;
        font-size: .85rem;
        font-weight: 600;
        color: #FF8900;
        margin: 0 0 8px 30px;
    }
}
* {
    box-sizing: border-box;
}

/*********** CSS OF THE BACKOFFICE ***********/
/*********** CSS OF THE BACKOFFICE ***********/

.main-backoffice{
    margin-top: 0;
    width: auto;
    justify-content: space-between;
    background-color: white;
}
.img-user img{
    height: 122px;
    width: 122px;
    border-radius: 122px;
    background-color: #C5C5C5;
    object-fit: contain;
}

.container-info-user h3, .container-info-user h2{
    font-family: Montserrat;
}
.container-info-user h2{
    font-size: 30px;
    font-weight: 700;
}
.info-user{
    margin-left: 15px;
    justify-content: space-evenly;
    color: #4A4C4E;
    letter-spacing: .2px;
}
.name{
    font-size: 22px;
}
.container-character-user{
    align-items: center;
    flex-grow: 2;
    justify-content: space-around;
}
.container-character-user img{
    background-color: #C5C5C5;
    border-radius: 122px;
    width: 53px;
    height: 53px;
    object-fit: cover;
}
.container-character-user h3{
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
}
.left-block-container, .right-block-container{
    width: 50%;
    overflow-x: hidden;
    border-left: .5px solid #f1f1f1;
    border-right: .5px solid #f1f1f1;
}
.team-members-container{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.team-members-container h2{
    font-family: Montserrat;
    font-weight: 500;
}
.team-mate-pics{
    border-radius: 12px;
    padding: 20px;
    width: 100px;
    height: 100px;
    background-color: #C5C5C5;
}
.list-user-div{
    align-items: center;
    justify-content: space-between;
}
.team-mate-info{
    margin-left: 10px;
    width: 45%;
}
.team-mate-info h3{
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-size: 22px;
}
.team-mate-character{
    flex-grow: 1.5;
}
.team-mate-character img{
    background-color: #C5C5C5;
    border-radius: 122px;
    width: 53px;
    height: 53px;
    object-fit: cover;
}
.team-mate-character div{
    justify-content: center;
    padding-left: 10px;
}
.team-mate-character div h3{
    font-weight: 700;
    text-transform: uppercase;
}
.user-type{
    background-color: #FF8900;
    border-radius: 14px 14px 0px 0px;
    padding: 3px 16px;
    transform: rotate(270deg);
}
.my-messages{
    font-family: Montserrat;
    color: #FF8900;
    font-weight: 600;
    text-transform: uppercase;
}
.edit-delete a{
    margin-left: 15px;
    justify-content: space-between;
}
.author-article{
    margin-bottom: 10px;
}
.circulare-button-container {
    flex-grow: 2;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 0 5px;
}
.circulare-button-container a{
    margin-left: 15px;
}
.author-article-items{
    align-items: flex-end;
}
@media screen and (max-width: 1300px){
     .team-mate-pics{
         display: none;
     }
    .img-user{
        display: none;
    }
    .author-article-items{
        align-items: flex-start;
        flex-direction: column;
    }
    .author-article-items h4{
        margin: 0;
    }

}
@media screen and (max-width: 840px){
    .main-backoffice{
        flex-direction: column;
        margin: 0;
    }
    .left-block-container, .right-block-container{
        width: 100%;
    }
    .container-info-user{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .team-mate-pics{
        display: none
    }
    .img-user{
        display: flex;
    }
    .team-mate-info{
        margin: 0;
    }
    .more{
        margin: 0px;
    }
    .author-article{
        flex-direction: row;
    }
    .author-article-items{
        flex-direction: column;
    }
    .iconCharacter{
        display: none;
    }
}

/*********** CSS OF THE CHARATERS ***********/
/*********** CSS OF THE CHARATERS ***********/
.main-character{
    height: calc( 100vh - 56.06px);
    background-size: cover;
    background-image: url('/public/img/bg.jpeg');
}
.characters-content{
    height: 100%;
    justify-content: space-between;
}
.icon-character-container{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.selectCharacter{
    display: none;
}
video{
    width: 100%;
}
.div-skill{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}
.skills-container{
    align-items: flex-end;
}
.liste-skills, .p-skill, .skill-select{
    color: white;
    background-color: #304662;
}
.skill-select{
    width: 95%;
    justify-self: center;
    padding: 10px 15px;
    border: none;
}
.p-skill{
    z-index: 5;
}
.skill-icon{
    height: 35px;
    object-fit: cover;
}
.main-characters-mobile{
    align-items: flex-end;
    align-self: flex-end;
}
.characters{
    padding: 5px;
    flex-grow: 0;
}
.right-block-character, .character-info{
    width: 50%;
}
.right-block-character{
    justify-content: space-between;
}
.character-info{
    background-repeat: no-repeat;
    background-position: center bottom;
    justify-content: center;
}
.h2-character{
    background-color: #FF8900;
    width: fit-content;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    padding: 5px 16px;
}
.p-character{
    align-self: flex-end;
    color: white;
    width: 50%;
    background-color: rgba(0, 0, 0, .3);
}
.container-character-info{
    width: 50%;
    align-self: flex-end;
}
.liste-skills{
    width: 100%;
}
@media screen and (max-width: 840px){
    .characters-content{
        flex-direction: column;
    }
    .right-block-character, .character-info{
        width: 100%;
    }
    .main-characters-mobile{
        display: none;
    }
    .selectCharacter{
        display: flex;
        height: 43px;
        padding: 15px;
        border: none;
        border-radius: 4px;
    }
    .character-info{
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .p-character{
        width: 100%;
    }
    .container-character-info{
        width: 100%;
    }

}