/*-----------------
Class css globales
-----------------*/
.display-flex{
    display: flex;
}
.mobile-padding{
    padding: 0 36px;
}
.flex-direction-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
h2{
    font-size: 1.5rem;
    text-transform: uppercase;
}
h3{
    font-size: 1.25rem;
}
.margin-destock{
    margin: 0 140px;
}
.globale-margin{
    margin: 15px 30px;
}
.divider{
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
}
body{
    background-color: #fafafa;
}
/*
Class news
*/

.news-container{
    height: 65vh;
    background-color: red;
}

.left-news{
    width: 70%;
    background-color: blue;
}

.right-news-container{
    width: 30%;
}

.right-news{
    height: 50%;
    width: 100%;
    background-color: gold;
}

.right-news1{
    height: 50%;
    width: 100%;
    background-color: blueviolet;
}


/*
Class About
 */

.about{
    height: 35vh;
    justify-content: space-evenly;
    background-color: aquamarine;
}

.about-container{
    text-align: center;
}

.img-about{
    width: 125px;
    height: 125px;
    border-radius: 300px;
    object-fit: cover;
    background-color: #ff0000;
}

/*
Class teams
 */

.team{
    height: 100vh;
    background-color: chartreuse;
    justify-content: space-between;
}

.team-container{
    height: 90%;
}

.team-item{
    height: calc(100% / 3);
    width: 100vw;
    justify-content: space-between;
}

.team-item-left{
    background-color: hotpink;
    width: 30%;
}
.team-item-right{
    background-color: teal;
    width: 30%;
}

.team-img-left{
    background-color: indigo;
}

/*-----------------
Class css articles
-----------------*/

.article-block{
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.article-container{
    width: 49.5%;
}
.article-container p{
    font-family: Raleway;
}
.header-article{
    justify-content: space-between;
}

.header-article h2{
    font-family: Montserrat;
    color: #FF8900;
    font-weight: 600;
    text-transform: uppercase;
}
.author-article{
    align-items: flex-end;
}
.author-article h4{
    margin-left: 6px;
}
.article-title{
    font-family: Raleway;
    font-weight: 600;
}
.article-author{
    font-family: Montserrat;
    font-weight: 300;
    font-size: .85rem;
}
.article-container p{
    margin: 0 30px;
    margin-bottom: 8px;
}

@media screen and (max-width: 840px){
    .article-block{
        flex-direction: column;
        margin: 0px 0px;
    }
    .article-container{
        width: 100%;
    }
    .author-article{
        align-items: flex-start;
        flex-direction: column;
    }
    .author-article h4{
        margin-left: 0px;
    }
    .author-article h3{
        margin-bottom: 3px;
    }
    .more{
        font-family: Montserrat;
        text-decoration: none;
        font-size: .85rem;
        font-weight: 600;
        color: #FF8900;
        margin: 0 0 8px 30px;
    }
}