/*-----------------
Class css globales
-----------------*/
.display-flex{
    display: flex;
}
.mobile-padding{
    padding: 0 36px;
}
.flex-direction-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 1.5rem;

}
h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 1.25rem;

}
h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 1rem;

}
.margin-destock{
    margin: 0 140px;
}
.globale-margin{
    margin: 15px 30px;
}
.globale-padding{
    padding: 15px 30px;
}
.divider{
    width: 100%;
    height: 2px;
    background-color: #f1f1f1;
}
body{
    background-color: #fafafa;
    height: 100vh;
}
.desktop-margin{
    margin: 33px 7%;
}
.button{
    cursor: pointer;
    justify-self: center;
    align-self: center;
    border: #FF8900 1px solid;
    border-radius: 5px;
    padding: 9px 16px;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF8900;
}
:hover.button{
    background-color: rgba(255, 137, 0, 0.05);
}
.circulare-button{
    cursor: pointer;
    border: #FF8900 1px solid;
    border-radius: 25px;
    padding: 3px 3px;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    color: #FF8900;
}
:hover.circulare-button{
    background-color: rgba(255, 137, 0, 0.05);
}
.HEAL{
    font-family: Montserrat;
    color: white;
    font-weight: 700;
    padding: 6px 10px;
    background-image: url("");
    background: #10CB50;
}
.TANK{
    font-family: Montserrat;
    color: white;
    font-weight: 700;
    padding: 6px 10px;
    background-image: url("");
    background: #cb6110;
}
.DPS{
    font-family: Montserrat;
    color: white;
    font-weight: 700;
    padding: 6px 10px;
    background-image: url("");
    background: #bb0b2e;
}
p{
    font-family: Raleway;
}
.more{
    font-family: Montserrat;
    text-decoration: none;
    font-size: 1rem;
    padding-top: 10px;
    font-weight: 600;
    color: #FF8900;
}
.circulare-button img{
    width: 17px;
    margin: auto;
}
/*
Class news
*/

.news-container{
    height: 65vh;
    background-color: red;
}

.left-news{
    width: 70%;
    background-color: blue;
}

.right-news-container{
    width: 30%;
}

.right-news{
    height: 50%;
    width: 100%;
    background-color: gold;
}

.right-news1{
    height: 50%;
    width: 100%;
    background-color: blueviolet;
}


/*
Class About
 */

.about{
    height: 35vh;
    justify-content: space-evenly;
    background-color: aquamarine;
}

.about-container{
    text-align: center;
}

.img-about{
    width: 125px;
    height: 125px;
    border-radius: 300px;
    object-fit: cover;
    background-color: #ff0000;
}

/*
Class teams
 */

.team{
    background-color: white;
    justify-content: space-between;
}

.team-container{
    height: 90%;
}

.team-item{
    height: calc(100% / 3);
    width: 100vw;
    justify-content: space-between;
}

.team-item-left{
    background-color: hotpink;
    width: 30%;
}
.team-item-right{
    background-color: teal;
    width: 30%;
}

.team-img-left{
    background-color: indigo;
}

/*-----------------
Class css articles
-----------------*/

.article-block{
    width: auto;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.article-container{
    width: 49.5%;
}
.article-container p{
    font-family: Raleway;
}
.header-article{
    justify-content: space-between;
}

.header-article h2{
    font-family: Montserrat;
    color: #FF8900;
    font-weight: 600;
    text-transform: uppercase;
}
.author-article{
    align-items: flex-end;
}
.author-article h4{
    margin-left: 6px;
}
.article-title{
    font-family: Raleway;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}
.article-author{
    font-family: Montserrat;
    font-weight: 300;
    font-size: .85rem;
}
.article-container p{
    margin: 0 30px;
    margin-bottom: 8px;
}

@media screen and (max-width: 840px){
    .article-block{
        flex-direction: column;
        margin: 0px 0px;
    }
    .article-container{
        width: 100%;
    }
    .author-article{
        align-items: flex-start;
        flex-direction: column;
    }
    .author-article h4{
        margin-left: 0px;
    }
    .author-article h3{
        margin-bottom: 3px;
    }
    .more{
        font-family: Montserrat;
        text-decoration: none;
        font-size: .85rem;
        font-weight: 600;
        color: #FF8900;
        margin: 0 0 8px 30px;
    }
}
* {
    box-sizing: border-box;
}

/*********** CSS OF THE BACKOFFICE ***********/
/*********** CSS OF THE BACKOFFICE ***********/

.main-backoffice{
    margin-top: 0;
    width: auto;
    justify-content: space-between;
    background-color: white;
}
.img-user img{
    height: 122px;
    width: 122px;
    border-radius: 122px;
    background-color: #C5C5C5;
    object-fit: contain;
}

.container-info-user h3, .container-info-user h2{
    font-family: Montserrat;
}
.container-info-user h2{
    font-size: 30px;
    font-weight: 700;
}
.info-user{
    margin-left: 15px;
    justify-content: space-evenly;
    color: #4A4C4E;
    letter-spacing: .2px;
}
.name{
    font-size: 22px;
}
.container-character-user{
    align-items: center;
    flex-grow: 2;
    justify-content: space-around;
}
.container-character-user img{
    background-color: #C5C5C5;
    border-radius: 122px;
    width: 53px;
    height: 53px;
    object-fit: cover;
}
.container-character-user h3{
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
}
.left-block-container, .right-block-container{
    width: 50%;
    overflow-x: hidden;
    border-left: .5px solid #f1f1f1;
    border-right: .5px solid #f1f1f1;
}
.team-members-container{
    align-items: center;
    justify-content: space-between;
}
.team-members-container h2{
    font-family: Montserrat;
    font-weight: 500;
}
.team-mate-pics{
    border-radius: 12px;
    padding: 20px;
    width: 100px;
    height: 100px;
    background-color: #C5C5C5;
}
.list-user-div{
    align-items: center;
    justify-content: space-between;
}
.team-mate-info{
    margin-left: 10px;
    width: 45%;
}
.team-mate-info h3{
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 7px;
    font-size: 22px;
}
.team-mate-character{
    flex-grow: 1.5;
}
.team-mate-character img{
    background-color: #C5C5C5;
    border-radius: 122px;
    width: 53px;
    height: 53px;
    object-fit: cover;
}
.team-mate-character div{
    justify-content: center;
    padding-left: 10px;
}
.team-mate-character div h3{
    font-weight: 700;
    text-transform: uppercase;
}
.user-type{
    background-color: #FF8900;
    border-radius: 14px 14px 0px 0px;
    padding: 3px 16px;
    transform: rotate(270deg);
}
.my-messages{
    font-family: Montserrat;
    color: #FF8900;
    font-weight: 600;
    text-transform: uppercase;
}
.edit-delete a{
    margin-left: 15px;
    justify-content: space-between;
}
.author-article{
    margin-bottom: 10px;
    justify-content: space-between;
}
.circulare-button-container {
    flex-grow: 2;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 0 5px;
}
.circulare-button-container a{
    margin-left: 15px;
}
.author-article-items{
    align-items: flex-end;
}
@media screen and (max-width: 1300px){
     .team-mate-pics{
         display: none;
     }
    .img-user{
        display: none;
    }
    .author-article-items{
        align-items: flex-start;
        flex-direction: column;
    }
    .author-article-items h4{
        margin: 0;
    }

}
@media screen and (max-width: 840px){
    .main-backoffice{
        flex-direction: column;
        margin: 0;
    }
    .left-block-container, .right-block-container{
        width: 100%;
    }
    .container-info-user{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }
    .team-mate-pics{
        display: none
    }
    .img-user{
        display: flex;
    }
    .team-mate-info{
        margin: 0;
    }
    .more{
        margin: 0px;
    }
    .author-article{
        flex-direction: row;
    }
    .author-article-items{
        flex-direction: column;
    }
    .iconCharacter{
        display: none;
    }
}

/*********** CSS OF THE CHARATERS ***********/
/*********** CSS OF THE CHARATERS ***********/

.main-characters-mobile {
    background: url("../img/bg.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    padding-bottom: 0;
}

.liste-charac-mobile {
    margin:auto;
    text-align: center;
}

.selectCharacter{
    border-radius: 6px;
    border: none;
    height: 44px;
    padding: 0 15px;
    font-family: "Arial Black";
    text-transform: uppercase;
    color: #464B60;
    box-shadow: 0px 0px 5px rgba(0,0,0, .3);
}

.characters-content{
    height: calc(100vh - 62.06px);
    justify-content: space-between;
}


.h2-character {
    text-transform: uppercase;
    font-family: "Arial Black";
    width: fit-content;
    padding: 5px 18px;
    background-color: #FF8900;
    color:white;
    font-size:1.8em;
    z-index: 100;
    align-self: center;
}

.p-character {
    align-self: flex-end;
    background-color:rgba( 0,0,0, 0.3);
    color:white;
    font-size:0.85em;
    padding: 20px;
    font-family: 'raleway';
}

.liste-skills {
    background-color:rgba(19,42,77, 1);
    text-align: center;
}

.liste-skills img{
    margin: auto;
}

.liste-skills select {
    width:80%;
    margin:auto;
    background-color:rgba(19,42,77,.85);
    border:none;
    color:white;
    height:40px;
}
.div-skill{
    position: relative;
    z-index: 1;
}
.div-skill video {
    width:100%;
    position: absolute;
    z-index: 2;
}
.img-character{
    z-index: 1;
}
.p-skill {
    background-color:rgba( 0,0,0, 0.3);
    color: white;
    text-align: center;
    font-size:0.75em;
    font-family: 'raleway';
    position: absolute;
    z-index: 3;
}
.skillIcon{
    max-height: 25px;
}
.character-info{
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    height: 100%;
    justify-content: center;
}


    /*********** CSS OF THE CHARACTERS ***********/
    /*********** CSS OF THE CHARACTERS ***********/

    .main-characters-desktop {
        background: url("src/bg-characters") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display:block;
    }

    .div-liste-charac {
        text-align: center;
    }

    .icon-list-charac {
        width:7%;
        margin:10px;
        border-radius: 100%;
    }

    .div-characters {
        width:100%;
        margin:30px auto;
        display:flex;
        justify-content: space-around;
    }

    .img-character {
        width:80%;
        position:relative;
        margin:35px;
    }

    .h2-character-2 {
        position: absolute;
        bottom: 30%;
        left: 15%;
        font-size:3em;
    }

    .p-character-2 {
        position: absolute;
        top: 65%;
        left: 15%;
        font-size:1.5em;
        width:20%;
    }

    .div-img-charac {
        align-self: center;
    }

    .div-skills-list {
        width:70%;
    }

    .div-skills-list table tr td select {
        height:60px;
        width:100%;
        margin: auto;
        background-color: rgba(19,42,77,.85);
        border: none;
        color: white;
    }

    .div-skills-list table tr td select option {
        height:60px;
    }

    .div-skills-list video {
        width:100%;

    }